<!--
<div style="height: 400px">
	<uib-carousel active="active" interval="2000" no-wrap="noWrapSlides">
	  <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		<img ng-src="{{slide.image}}" style="margin:auto;">
		<div class="carousel-caption">
		  <h4>Slide {{slide.id}}</h4>
		  <p>{{slide.text}}</p>
		</div>
	  </uib-slide>
	</uib-carousel>
</div>
-->

<div class="content">
	
	<h1>
		<b><small translate="WORK_DOMAIN"></small></b>
	</h1>
	<br>
	<ul>
		<li style="display: inherit;"><a href="" ng-click="goTo('services')"><span class="glyphicon glyphicon-chevron-right" /> <b translate="SERVICES"></b></a></li><br>
		<li style="display: inherit;"><a href="" ng-click="goTo('references')"><span class="glyphicon glyphicon-chevron-right" /> <b translate="REFERENCES"></b></a></li><br>
		<li style="display: inherit;"><a href="" ng-click="goTo('about')"><span class="glyphicon glyphicon-chevron-right" /> <b translate="ABOUT"></b></a></li><br>
		<li style="display: inherit;"><a href="" ng-click="goTo('contact')"><span class="glyphicon glyphicon-chevron-right" /> <b translate="CONTACT"></b></a></li><br>
	</ul>

</div>