<br><br>

<div class="media content">
	<div class="media-left">
		<a href="#"> <img class="media-object" src="assets/profiles/eblondel.jpg" alt="gravatar" /></a>
	</div>
	<div class="media-body">
		<h3 class="media-heading"><b>Emmanuel Blondel</b></h3>
		<br>

		<p translate="WORK_BACKGROUND"></p>
		<p translate="WORK_CURRENT_COMPANY"></p>
		<p translate="WORK_CURRENT_FAO"></p>
		<!--  
		<p>
			<a class="btn btn-primary" href="curriculum" role="button" translate="WORK_MORE"></a>
		</p>
		-->
	</div>
</div>


