<div class="row content">
		<!-- Contact -->
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-envelope"></span> <b translate="CONTACT_TITLE"></b></h3>
			<hr class="header-line">

			<p><b translate="CONTACT_ADDRESS"></b>:</p>
			<p>
				Emmanuel Blondel<br>
				41, Avenue du Vacayrial<br>
				81370 Saint Sulpice la pointe, FRANCE<br>
			<p>
			<p><b translate="CONTACT_PHONE"></b>: +33 (0) 6 45 97 87 52</p>
			<p><b translate="CONTACT_EMAIL"></b>: <a href="mailto:emmanuel.blondel1@gmail.com">emmanuel.blondel1@gmail.com</a></p>
		</div>
		
		<!-- Company details -->
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-edit"></span> <b translate="CONTACT_COMPANY_TITLE"></b></h3>
			<hr class="header-line">
				
			<p><b translate="CONTACT_COMPANY_STATUS"></b></p>
			<p><b>SIRET: </b>525 332 714 00019</p>
			<p translate="CONTACT_COMPANY_TVA"></p>
			<p translate="CONTACT_COMPANY_REGISTRIES"></p>
		</div>
</div>

